
.ngx-datatable.material {
  &.colored-header {
    .datatable-header {
      padding: .5rem 0;
      color: theme-color("light");
      background-color: theme-color("primary");
    }
  }
}

.nav-tabs {
  &--left {
    .nav-link.active {
      border-right-color: $body-bg !important;

      &:hover {
        border-right-color: $body-bg !important;
      }
    }
  }
}


.about-page {
  .bg-features {
    @if $enable-rounded {
      border-radius: $border-radius !important;
    }
    @else {
      border-radius: 0 !important;
    }
  }
}
