<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-6">
                <h2>Eben is a Freelancer (Hire Me)<sup>&reg;</sup></h2>
                <p>Contact me and I'll get back to you within 24 hours.</p>
                <p><span title="Contact me on Skype" class="fa fa-skype fa-fw"></span> eben.monney</p>
                <p><span title="Follow me on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/kommand">twitter.com/kommand</a></p>
                <p><span title="Connect on facebook" class="fa fa-facebook-official fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.facebook.com/monney">facebook.com/monney</a></p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:contact@ebenmonney.com">contact@ebenmonney.com</a></p>
                <p><span title="My website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="http://www.ebenmonney.com">www.ebenmonney.com</a></p>
                <br />
            </div>
            <div class="col-sm-6">
                <!-- Column 2 -->
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Quality, Affordable and Easy-to-use software for all</h4>
                <p>
                    <strong>VISION:</strong> It is our desire to encourage the use of technology in everyday life. Time is the most valuable resource anyone has,
                    that is why we at Eben Software Solutions<sup>&reg;</sup> wish to provide quality, affordable and easy-to-use software solutions to boost your productivity. Get more done in less time!
                    <br />
                    <br />
                    Productivity, Accessibility and Affordability is at the core of our values
                </p>
            </div>
        </div>
    </div>
</div>
