
.pageHeader {
    margin-bottom: 30px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    font-size: 200px;
}

.quickapp-pro {
    margin: 2.7em -15px 10px 0;
    padding: 5px;
    border-radius: 4px;
}

.get-it {
    padding: 4px 12px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .quick-learn {
        margin-top: 0;
        text-align: center;
    }
}
