<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div [@fadeInOut]>
    <div class="row">
      <div class="col-sm-6">
        <h2>ПРЕДСМЕННЫЙ КОНТРОЛЬ ОНЛАЙН<sup>&reg;</sup></h2>
        <p>Напишите нам и мы свяжемся с вами в течение 1 рабочего дня.</p>
        <p><span title="Follow us on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/psk-online">twitter.com/psk-online</a></p>
        <p><span title="E-mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></p>
        <p><span title="Site:" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="http://{{ webSite }}">{{ webSite }}</a></p>
        <br />
      </div>
      <div class="col-sm-6">
        <!-- Column 2 -->
      </div>
    </div>
    <div class="row bg-grey">
      <div class="col-sm-4">
        <span class="fa fa-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h4><strong>ЧТО ЭТО ТАКОЕ</strong></h4>
        <p>
          <strong>ОНЛАЙН ПРЕДСМЕННЫЙ КОНТРОЛЬ</strong>функционального состояния
          организма и операторской работоспособности с целью снижения рисков 
          аварий и других происшествий, а также сохранения здоровья сотрудников.
        </p>
        <p>
          <strong>Энергетика</strong>.
        </p>
        <p>
          <strong>Химическая промышленность</strong>.
        </p>
        <p>
          <strong>Транспорт</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
