.reduced-font {
  line-height: 1.4;
}

.bg-features {
  position: relative;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bg-features ul {
  position: relative;
}

.bg-features .logo {
  font-size: 200px;
  position: absolute;
  top: 2rem;
  right: 10px;
}
