
.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.action-box {
    margin: 0 50px 0 0;
    min-height: 0;
}

    .action-box .toolbaritem a {
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 100px;
    }


@media (max-width: 768px) {
    .action-box {
        margin: 0 14px;
    }
}
