<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-exclamation-circle fa-lg page-caption" aria-hidden="true"></i> Not-Found</h3>
    </header>

    <div [@fadeInOut] class="vertical-center-flex">
        <div class="center-block">
            <div class="icon-container"><i class='fa fa-exclamation-circle'></i> 404</div>
            <div class="text-muted error-description">The page you are looking for does not exist</div>
            <div><a class="btn btn-primary" routerLink="/"><i class='fa fa-home'></i> Back to home</a></div>
        </div>
    </div>
</div>
