<div>
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for role..."></search-box>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar action-box">
                <ul class="nav navbar-nav navbar-right">
                    <li class="toolbaritem">
                        <a href="javascript:;" (click)="newRole(row)">
                            <i class="fa fa-plus-circle"></i> New Role
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ngx-datatable class="material colored-header sm table table-striped table-hover"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [columnMode]="'force'">
    </ngx-datatable>

    <template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </template>


    <template #actionsTemplate let-row="row" let-value="value" let-i="index">
        <a class="btn btn-link btn-xs" href="javascript:;" (click)="editRole(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
        {{canManageRoles ? '|' : ''}}
        <a *ngIf="canManageRoles" class="btn btn-link btn-xs" href="javascript:;" (click)="deleteRole(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
    </template>


    <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{editingRoleName ? 'Edit Role "' + editingRoleName + '"' : 'New Role'}}</h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <role-editor #roleEditor></role-editor>
                </div>
            </div>
        </div>
    </div>
</div>
