<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Customers' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
      <div fxFlex>

        <ngx-datatable class="material colored-header sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [columnMode]="'force'">
        </ngx-datatable>

      </div>
    </div>


</div>
