@import '../styles/custom-vendor';

$table-bg-scale: 0% !default; // Hack: Fix for depreciation: https://sass-lang.com/d/function-units

@import 'bootswatch/dist/flatly/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/flatly/bootswatch';

@import 'app-theme';


.app-component {
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main {
    padding-top: 80px !important;
  }
}
