@import '../styles/custom-vendor';

$table-bg-scale: 0% !default; // Hack: Fix for depreciation: https://sass-lang.com/d/function-units

@import 'bootswatch/dist/slate/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/slate/bootswatch';

@import 'app-theme';


.bg-light {
  background-color: $primary !important;
}

.tooltip {
  --bs-tooltip-color: #fff;
}

.ngx-datatable.material.table-striped {
  .datatable-row-even {
    background: $gray-700;
  }
}

.alertify-message {
  color: var(--bs-secondary);
}

.login-container,
.register-container,
.recover-container,
.reset-container {
  color: var(--bs-secondary);

  .card a {
    color: #5bc0de;
  }

  .btn-social.btn-outline-primary {
    color: initial;
  }
}

.app-component {
  .navbar a.user-name {
    border: none;
  }

  footer {
    background-color: $primary !important;
  }
}
