@import '../styles/custom-vendor';

$table-bg-scale: 0% !default; // Hack: Fix for depreciation: https://sass-lang.com/d/function-units

@import 'bootswatch/dist/superhero/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/superhero/bootswatch';

@import 'app-theme';


.ngx-datatable.material {
  &.table-striped {
    .datatable-row-even {
      background: $secondary;
    }
  }

  &.table-hover:not(.cell-selection) {
    .datatable-body-row:hover,
    .datatable-body-row:hover .datatable-row-group {
      background-color: $gray-600 !important;
    }
  }

  &.colored-header {
    .datatable-header {
      color: $body-bg;
    }
  }
}

.tooltip {
  --bs-tooltip-color: #fff;
}

.alertify-message {
  color: var(--bs-secondary);
}

.bg-light {
  background-color: var(--bs-dark) !important;
}

.nav-tabs--vertical .nav-link:hover:not(.active) {
  color: #3d7cba;
}

.app-component {
  .login-container,
  .register-container,
  .recover-container,
  .reset-container {
    color: var(--bs-dark);

    .form-control {
      background-color: var(--bs-gray-100);
    }

    .form-control-plaintext {
      color: var(--bs-secondary);
    }

    .form-check-input {
      border: 1px solid var(--bs-primary);
    }
  }

  footer {
    background-color: $gray-700 !important;
  }
}
