<div class="about-page">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
    <h4>Welcome to QuickApp</h4>
    <p>
      A startup project template for Quick Application Development.<br />
      This application template provides a quick and convenient way to create ASP.NET Core 9.0 / Angular 19 applications.
    </p>
    <p>
      <a title="QuickApp Pro" target="_blank" href="https://quickapp-pro.azurewebsites.net">LIVE DEMO 1 - Pro</a>
      |
      <a title="QuickApp Standard" target="_blank" href="https://quickapp-standard.azurewebsites.net">LIVE DEMO 2 - Standard</a>
    </p>

    <p>
      <iframe src="https://github.com/sponsors/emonney/card" title="Sponsor emonney" height="225" width="600" class="github-sponsor-iframe" style="border: 0; border-radius: 5px"></iframe>
    </p>

    <h5>Technologies</h5>
    <ul>
      <li>Template pages with <a href="https://angular.dev" target="_blank" rel="nofollow">Angular 19</a> and <a href="https://www.typescriptlang.org" target="_blank" rel="nofollow">TypeScript</a></li>
      <li>RESTful API Backend using <a href="https://docs.microsoft.com/en-us/aspnet/core" target="_blank" rel="nofollow">ASP.NET Core 9.0</a> Web API</li>
      <li>Database using <a href="https://docs.microsoft.com/en-us/ef/core" target="_blank" rel="nofollow">Entity Framework Core</a></li>
      <li>Authentication/Authorization based on OIDC/OAuth2 and <a href="https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity-configuration?view=aspnetcore-7.0" target="_blank" rel="nofollow">ASP.NET Core Identity</a></li>
      <li>API Documentation using <a href="https://swagger.io" target="_blank" rel="nofollow">Swagger</a></li>
      <li>Client-side built on <a href="https://angular.dev/cli" target="_blank" rel="nofollow">Angular CLI</a></li>
      <li>Theming using <a href="https://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap 5</a>
    </ul>

    <div class="bg-light bg-features">
      <h5>Features</h5>
      <i class="fa fa-bolt text-white logo"></i>
      <ul>
        <li>A simple, not "over-engineered" startup project template for Quick Application Development</li>
        <li>A complete backend and frontend project structure to build on, with login, user and permission-based role management integrated</li>
        <li>Clean and simple Angular/ASP.NET Core code to start with</li>
        <li>Data Access Layer built with the Repository and Unit of Work Pattern</li>
        <li>Code First Database</li>
        <li>A RESTful API Design</li>
        <li>Dialog and Notification Services</li>
        <li>Configuration Page and Configuration Service</li>
        <li>Integrated Internationalization</li>
        <li>Theming with SASS</li>
        <li>Ready-to-use email API</li>
        <li>Handling Access and Refresh Tokens with WebStorage (Bearer authentication) - No Cookies</li>
        <li>CRUD APIs</li>
        <li>etc.</li>
      </ul>
    </div>

    <a href="https://www.ebenmonney.com/shop" class="btn btn-outline-info d-block"><i class="fa fa-shopping-cart"></i> Get more templates</a>

  </div>
</div>
