
.statistics-container {
    font-size: 0.875rem;
}

.chart-container {
    display: block;
}


.refresh-btn {
    margin-right: 10px;
}

.chart-type-container {
    display: inline-block;
}


.chart-type-container .active {
    background-color: #e8e8e8;
}
