
.info-separator {
  margin: 7px 5px;
  border-top: 1px dashed currentColor;
  background-color: inherit;
}

.hr-sub-separator {
  margin: 4px 5px;
  border-top-style: none;
  height: 0;
}

.hr-last-separator {
  margin-top: 7px;
}
