<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-md-9">
                <h3>Welcome to QuickApp</h3>
                <p>This application template provides a quick and convenient way to create ASP.NET Core 2.0 / Angular 5 applications</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>Drop us a line...</h4>
                <p><span title="Follow me on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/kommand">twitter.com/kommand</a></p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:info@ebenmonney.com">info@ebenmonney.com</a></p>
                <p><span title="Website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.ebenmonney.com/contact">www.ebenmonney.com</a></p>
            </div>
        </div>

        <div class="showcase">
            <div class="wrapper">
                <div>
                    <h4 class="text-center text-muted">CHECK OUT THE PREMIUM TEMPLATES BELOW:</h4>
                </div>
                <div class="parent-container">
                    <div class="parent" onclick="location.href='https://www.ebenmonney.com/product/quickapp-pro';">
                        <div class="child bg-one">
                            <a href="https://www.ebenmonney.com/product/quickapp-pro">QuickApp PRO</a>
                        </div>
                    </div>
                    <div class="text-muted small">ASP.NET Core 2.0 / IdentityServer 4 / Angular 5 / Angular Material 2 / Angular CLI</div>
                </div>
                <div class="parent-container push-right">
                    <div class="parent" onclick="location.href='https://www.ebenmonney.com/product/quickapp-standard';">
                        <div class="child bg-two">
                            <a href="https://www.ebenmonney.com/product/quickapp-standard">QuickApp STANDARD</a>
                        </div>
                    </div>
                    <div class="text-muted small">ASP.NET Core 2.0 / IdentityServer 4 / Angular 5 / Bootstrap 4 / Bootswatch / Angular CLI</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row our-values">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Quality, Affordable and Easy-to-adopt software resources for all</h4>
                <p>
                    <strong>VISION:</strong> It is our desire to boost productivity in your everyday tasks. Time is the most valuable resource anyone has,
                    that is why we at Eben Monney<sup>&reg;</sup> Solutions wish to provide quality, affordable and easy-to-use software resources, tools and libraries that makes you efficient, and gets you doing more in less time.
                    <br />
                    <br />
                    Productivity, Accessibility and Affordability is at the core of our values
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="https://www.ebenmonney.com/shop" target="_blank" class="btn btn-default more-templates"><i class="fa fa-shopping-cart"></i> Get more templates</a>
            </div>
        </div>

    </div>
</div>
